@model WebMVC_CallApi.Models.Customer

<h2>Yeni Müştəri</h2>
<form method="post">
    <label>Ad:</label>
    <input type="text" name="Name" class="form-control" required />

    <label>Soyad:</label>
    <input type="text" name="Surname" class="form-control" required />

    <label>Yaş:</label>
    <input type="number" name="Age" class="form-control" required />

    <label>Region Id:</label>
    <input type="number" name="RegionId" class="form-control" required />

    <button type="submit" class="btn btn-success mt-2">Əlavə et</button>
</form>
